# Django settings
SECRET_KEY=yC6l7fwZ9d$oB3e1rf48a2h69j0d2kp74vg8x
JWT_SECRET_KEY=@!p31234gyr36l1t1+bso3^xxjp-e+0a%^w!dxjpsa2fau3^7y&2d$@
#fastapi connection
JWT_SIGNING_KEY=X_stws_okYGoVAmfv8aSFrEF9xtEjUz9p5pzcbPpf0I
ACCESS_TOKEN_LIFETIME=5

# 1=True & 0=False
ENVIRONMENT=development
DEVELOPMENT=True
DEBUG=True

# Django static files
STATIC_URL=/static/
STATIC_ROOT=/static
MEDIA_URL=/media/
MEDIA_ROOT=/media

# Django Database
DB_HOST=localhost
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=5432


#server ip
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
ALLOWED_EXPORT_HOSTS=127.0.0.1,localhost,
ALLOWED_USER=a0048ba3-e8f4-41f3-a0da-a7ec1d6b788b
SECRET_KEY_API=UZ6qevzmeA9n17JvMSobaRi-OIDKWcLPjIRvt79URkfnKmBzfOxJ7p7kTlzTTKXDYaY